/*Font-family*/
p {
    font-family: "35 Arial";
}

h1 {
    font-family: Georgia;
}

/*Font-size*/
h1 {
    font-size: 100px;
}

/* Another unit for defining font-size is EM (relative font size). This is going to be double the font size of the enclosing element (parent element), which is paragraph. */

span {
    font-size: 2.0em;
}

/* If we increase paragraph font size, EM value stay double increased */
p {
    font-size: 40px;
}

/* What the people often do is, setting the default font-size of body. And based on body, increase another elements (h1, paragraph) */

body {
    font-size: 10px;
}

h1 {
    font-size: 5.0em;
}

p {
    font-size: 2.0em;
}

span {
    font-size: 2.0em;
}