body {
    border: 20px solid #bdc3c7;
    padding: 20px;
    max-width: 700px;
    width: 80%;
    margin: 20px auto;
    /* Setting some property to body, all others elements will inherited same. */
    font-family: 'Source Sans Pro', sans-serif;

}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


h2 {
    color: #2c3e50;
    font-size: 2rem;
}

/* div:nth-of-type(1) p:nth-of-type(1) {
    text-transform: uppercase;
}

div:nth-of-type(2) p:nth-of-type(1) {
    text-transform: uppercase;
} */
.post {
    margin-bottom: 40px;
}

.date {
    color: #3498db;
    text-transform: uppercase;
    /* We have bunch of options for letter spacing,
    some of the properties is letter-spacing, */
    letter-spacing: 0.2rem;
}


/* div:nth-of-type(1) p:nth-of-type(2)
   div:nth-of-type(2) p:nth-of-type(2) */
.quote {
    border-left: 5px solid #bdc3c7;
    padding-left: 5px;
}